:root {
  --color-primary: #c8b7f0;
  --color-secondary: #7406f1;
  --color-success: #7d9b8a;
  --color-info: #7d8a9b;
  --color-background: #aedcf7;
  --color-surface: #3a3542;
  --color-text: #050505a6;
  --color-text-secondary: #050505;
  --color-border: #4a4552;
}

* {
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, "Courier New", Courier,
    monospace;
  background-color: var(--color-background);
  color: var(--color-text);
  line-height: 1.6;
}

.container {
  color: #11cbe4;
  max-width: 12000px;
  margin: 0 auto;
  padding: 20px;
}
.grid {
  display: grid;
  grid-template-columns: 3 (auto-fit, minmax(300px, 1fr));
  gap: 20px;
}
.header {
  text-align: center;
  padding: 60px 20px;
  background: linear-gradient(
    135deg,
    var(--color-primary),
    var(--color-secondary)
  );
  border-radius: 15px;
  margin-bottom: 40px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.header h1 {
  font-size: 3em;
  margin-bottom: 15px;
  color: var(--color-text);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.subtitle {
  font-size: 1.3em;
  color: var(--color-text-secondary);
}

h2 {
  font-size: 2.2em;
  margin-bottom: 20px;
  color: var(--color-primary);
  border-bottom: 3px solid var(--color-primary);
  padding-bottom: 10px;
}

button {
  cursor: pointer;
  border: 1px solid var(--color-border);
  padding: 14px 28px;
  border-radius: 8px;
  font-size: 1.05em;
  font-weight: 600;
  transition: all 0.3s ease;
  margin-right: 10px;
  margin-bottom: 10px;
}

.btn-primary {
  background-color: #0aecb3;
  color: var(--color-text);
  box-shadow: 0 4px 8px rgba(123, 104, 166, 0.3);
}

.btn-primary:hover {
  background-color: #2c0aec;
  color: var(--color-text-secondary);
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(123, 104, 166, 0.4);
}
ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
  color: var(--color-text);
}

li {
  padding: 8px;
  border-bottom: 1px solid var(--color-tarea-borde);
  cursor: pointer;
  transition: background 0.2s;
}

li:hover {
  background-color: var(--color-tarea-hover);
}

.done {
  text-decoration: line-through;
  color: var(--color-tarea-hecha);
}
.notificacion {
  position: fixed;
  top: 20px;
  right: 20px;
  background: #eb04df;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  animation: aparecer 0.3s ease;
  font-family: Arial, sans-serif;
}
.aparecer {
  from {
    opacity: 10;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
